/* Themify Customize Styling */
body {	
	font-family: "Roboto";	font-weight:normal;
 
}
h1 {	
	font-family: "Roboto";	font-weight:500;
	font-size:95px;
 
}
.header-classic #headerwrap, #headerwrap {	background: none;
	background-color: #ffffff; 
}
body[class*="themify"] #site-logo a {	
	font-family: "Roboto";	font-weight:100;

	color: #000000; 
}
body[class*="themify"] #site-logo a img {	
	height: 32px; 
}
#site-logo {		position:relative;

	top: 4px; 
}
#main-nav-wrap #main-nav a {	
	background-color: transparent; 
}
#main-nav a, #main-nav > li > a, .transparent-header #main-nav a {	
	color: #ffffff; 
}
#main-nav-wrap #main-nav a:hover, #main-nav-wrap #main-nav > li > a:hover {	
	color: #888888; 
}
#main-nav-wrap #main-nav .current_page_item > a, #main-nav .current-menu-item > a, #main-nav > .current_page_item > a, #main-nav > .current-menu-item > a {	
	color: #cccccc; 
}
#main-nav-wrap #main-nav .current_page_item a:hover,  #main-nav .current-menu-item a:hover {	
	color: #cccccc; 
}
#footerwrap {	background: none;
	background-color: #f6f6f6; 
}
#footer {	
	color: #222222; 
}
#footer a:hover {	
	color: #000000; 
}
@media screen and (max-width: 1280px) { /* Themify Customize Styling */
body[class*="themify"] #site-logo a img {	
	height: 32px; 
}
 }@media screen and (max-width: 768px) { /* Themify Customize Styling */
body[class*="themify"] #site-logo a img {	
	height: 32px; 
}
 }@media screen and (max-width: 680px) { /* Themify Customize Styling */
body[class*="themify"] #site-logo a {	
	font-family: "Roboto";	font-weight:100;
 
}
 }.mobile_menu_active #headerwrap .sidemenu-on a:hover, .mobile_menu_active #headerwrap #main-nav a:hover, .mobile_menu_active #headerwrap #main-nav ul a:hover { 
	color: #555555; }